<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TapCap</title>

    <link rel="stylesheet" href="css/landing.css">
</head>

<body>

    <!-- Canvas -->
    <canvas class="orb-canvas"></canvas>
    <!-- Overlay -->
    <div class="overlay">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            <div class="">
                <h1 id="typing" class="">
                    TapCap.
                </h1>
            </div>
            <br>

            <!-- Title -->
            <h1 class="overlay__title">
                Add <span class="text-gradient">captions to videos</span> Eazily.
            </h1>
            <!-- Description -->
            
            <ul class="overlay__description">
                <li><strong>Add/delete</strong> captions to your video.</li>
                <li><strong>Edit</strong> start/end time and content of each caption.</li>
                <li><strong>Download</strong> the video with the captions, or only download the generated captions.</li>
                <li><strong>Convert</strong> from WebVTT to SRT and vice-versa</li>
            </ul>
            
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent">
                    <a href="/demo">
                        See a Demo
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <span>Visit CodSki</span>
                    <span class="overlay__btn-emoji"></span>
                </button>
            </div>
        </div>

    </div>

    <!-- <script type="module" src="js/landing.js"></script> -->

</body>

</html>