@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lobster&display=swap");

/* section 1 */
body {
  padding: 0;
  margin: 0;
  background: #181818;
  color: #ddd;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.js-toggleForm,
input[type="submit"] {
  font-family: "Lobster", cursive;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 50%;
}

textarea {
  width: 100%;
}

#wrapper {
  background: black;
  width: 100%;
  border: 5px bisque;
}

#video_container {
  display: flex;
  flex-flow: row nowrap;
  height: 400px;
}

#video_controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

#update_form_btns {
  display: flex;
  justify-content: end;
  padding: 1rem 0;
}

#update_form_btns button {
  margin: 0 0 0 0.75rem;
}

#cc_container {
  /* width: 200px; */
  flex: 100%;
  overflow: auto;
  background: #181818;
  color: white;
  padding: 1%;
}

#cc_container #delete_btn {
  margin-left: 1rem;
}

#cc_container .time {
  max-width: 5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0.5rem;
  /* padding-bottom: 0; */
  display: inline-block;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  margin-right: 1rem;
}
#cc_container .time:focus {
  border: 1px solid #aaa;
}

#cc_container .text {
  overflow: auto;
  padding: 1rem;
  /* margin: 1rem; */
  width: 100%;
  height: max-content;
  background-color: #333;
  color: #aaaaaa;
  border: 0;
}

#cc_container .text:hover {
  cursor: pointer;
  background-color: #444;
  text-decoration: none;
}

#cc_container .text:focus {
  color: #88d;
  font-weight: bold;
  background-color: #225;
  /* padding: 1rem; */
  border-radius: 4px;
}

.hide {
  display: none;
}

#black_screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #000;
  z-index: 998;
  opacity: 0.7;
}

#delete_modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #181818;
  padding: 3rem;
  margin: 0 auto;
  border-radius: 4px;
  z-index: 999;
}
#delete_modal #close_modal {
  font-size: 0.85em;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: 1px solid;
  border-radius: 0;
}
#delete_modal span {
  display: block;
  font-weight: 700;
  margin-top: 1rem;
}

#delete_modal button {
  display: block;
  margin: 1rem auto;
  background-color: rgb(208, 56, 56);
  color: #fff;
  font-weight: 700;
}

.sleepy_cue {
  color: #aaaaaa;
  font-weight: 100;
  background-color: rgb(51 51 51);
  /* padding: 0 1rem; */
  border-radius: 4px;
}

.active_cue {
  color: #88d;
  font-weight: bold;
  background-color: #225;
  /* padding: 1rem; */
  border-radius: 4px;
}

#manual_controlsy {
  background: #181818;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  position: relative;
}

.cc_lang {
  border: 2px solid black;
  border-radius: 4px;
  background: black;
  color: white;
  padding: 2px 5px;
}

#cc_list {
  background: rgba(24, 24, 24, 1);
  position: relative;
  bottom: 10px;
  right: 0px;
  width: 80px;
}

.hidden {
  background: black;
  padding: 0;
  display: block;
  width: 50px;
  text-align: center;
  display: none;
}

.show {
  background: black;
  padding: 0;
  display: block;
  width: 50px;
  text-align: center;
  display: block;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 5px;
  width: 200px;
  border-radius: 20px;
  background: lightblue;
}

#seeker {
  flex: 50%;
}

#volume {
  flex: 5%;
}

.clock {
  background: #333;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  color: #bbb;
  font: 90% normal "Menlo", monospace;
  margin: 0.75em;
  padding: 0.5em 1em;
  text-align: center;
}
.clock.invalid {
  background: #833;
  border-color: #a00;
}
.clock:focus {
  outline: 0px;
  border-color: #aac;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(21, 100, 170);
  border-radius: 50%;
  margin-top: 1px;
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(21, 100, 170);
  border-radius: 50%;
  margin-top: 1px;
}

#activeCC {
  background: #181818;
  height: 35px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

#trackStatuses {
  border: 2px solid black;
  height: 130px;
  overflow: auto;
}

li {
  list-style-type: none;
}

.cue_container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.cue_time {
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1rem;
}

.cue_item {
  margin-bottom: 1rem;
  border-radius: 0 4px 4px 4px;
  padding: 1rem;
}

.cue_item button {
  font-size: 0.85em;
  margin: 0;
}

.cue_item li {
  overflow: auto;
  /* padding: 1rem; */
  /* margin: 1rem; */
  width: 100%;
  height: max-content;
}

.cue_item li:hover {
  cursor: pointer;
  background-color: #444;
  text-decoration: none;
}

button {
  background: #444;
  border: 2px solid;
  border-color: #666 #333 #333 #555;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #bbb;
  cursor: default;
  font: font-awesome;
  height: 2.5em;
  margin: 0.25em 0.5em;
  min-width: 2.5em;
  padding: 0.625em;
  text-align: center;
  transition-property: background, border-color, color;
  transition-duration: 500ms, 500ms, 150ms;
  transition-timing-function: ease-out, linear, linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:hover {
  background: #446;
  color: #88d;
  box-shadow: inner 0px 0px 10px white;
  cursor: pointer;
}
button:active,
button.active {
  background: #225;
  border-color: #333 #666 #555 #444;
  border-color: rgba(0, 0, 0, 0.3);
  color: #88d;
  transition-duration: 150ms;
}
button:active:hover,
button.active:hover {
  background: #335;
}
button:disabled {
  color: #666;
}

#thumbs {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  background: lightgray;
}

figure {
  padding: 0;
  font-family: cursive;
  font-size: 10px;
  margin: 0;
  transition: transform 1s ease-in-out;
}
img {
  width: 100px;
  display: block;
  margin: auto;
}

figure:hover {
  box-shadow: 2px 3px gray;
  transform: scale(0.8);
}
/* ============================================ */
.subtitles_menu {
  display: none;
  position: initial;
  bottom: 14.8%;
  right: 20px;
  background: #181818;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  padding: 10px;
}

.subtitles_menu li {
  padding: 0;
  text-align: center;
}

.subtitles_menu li button {
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  width: 90%;
  padding: 2px 5px;
  border-radius: 4px;
}

#add-caption:hover {
  cursor: pointer;
  background: #446;
  color: #88d;
}
